<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem vindo Ao  Sistema </h1>


    <p>Agora são: {{ now }}</p>

    <ul>
    {% for Transacao in Transacoes %}

        {% if transacao == "t1" %}
            <li><b>{{ Transacao }}</b></li>
        {% else %}
            <li>{{ Transacao }}</li>
        {% endif %}

    {% endfor %}
    </ul>
</body>
</html>